html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    /* opacity: 0.899; */
    padding: 0;
    margin: 0;
    width: 100%;
    height: 98%;
    background-color: black;
}

h1 {
    color: white;
}

p {
    color: white;
}

ul :not(.list-inline) {
    list-style-type: none;
}

header {
    box-shadow: none;
    z-index: 1;
    border-color: none;
    padding-bottom: 40px;
    background-color: black;
}

.profile-pic {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    margin-top: 32px;
}

#nova-bg {
    z-index: 0;
    opacity: .9;
    width: 100%;
    background-image: url("../media/kunky.png");
    background-repeat: no-repeat;
    overflow: visible;
    background-position: center;
    background-size: initial;
    background-attachment: fixed;
    animation: glowup 1s normal 0s 1 ease-in;
}

.nav-link {
    z-index: 1;
    margin-right: 99%;
}

.container {
    width: 400px;
    border-style: groove;
    border-color: darkseagreen;
    border-radius: 5px;
    margin-bottom: 40px;
    padding-top: 10px;
    z-index: 2;
    background-color: rgba(0, 0, 0, .4);
    color: white;
}

.container a {
    color: darkseagreen;
}

.container img {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container h5 {
    color: white;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container p {
    font-size: 17px;
    text-align: justify;
    text-justify: inter-word;
}

.fa {
    color: white;
    font-size: 20px;
}

.text-fade {
    animation: text-fadein 1 normal 0 1;
}

.project-heading {
    padding-top: 120px;
    padding-bottom: 300px;
}

.dropdown-toggle::after {
    border: none;
}

.icons a {
    font-size: 18px;
    color: darkseagreen;
    margin-left: 15px;
}

/* Transparent Navbar */

.navbar-inner {
    background-color: white;
}

/* Remove long links from navbar */

.navbar-nav a {
    width: 160px;
    /* text-decoration: underline; */
    color: darkseagreen;
    background-color: rgba(0, 0, 0, .9);
}

.navbar-inner a {
    color: darkseagreen;
}

/* Black links for dropdown */

/* .dropdown-menu {
    width: 120px;
} */

.dropdown-menu a {
    color: black;
}

/* Selectors for fading intro strings */

.blockquote h4 {
    position: relative;
    z-index: -1;
    color: white;
    opacity: 0;
    text-align: center;
}

.center {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.phantom-p {
    animation: blink normal 6s 1 5s ease-in;
}

.foot {
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    position: fixed;
    color: white;
    background-color: black;
}

.foot p {
    margin-top: 10px;
}

@keyframes flip-image {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

/* Pageload fade in */

@keyframes glowup {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.899;
    }
}

@keyframes logo-fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Image blink */

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes flash {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fade {
    0% {
        z-index: -1;
        opacity: 0;
    }
    11.11% {
        opacity: 1;
    }
    33.33% {
        opacity: 1;
    }
    44.44% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes fade {
    0% {
        z-index: -1;
        opacity: 0;
    }
    11.11% {
        opacity: 1;
    }
    33.33% {
        opacity: 1;
    }
    44.44% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

/* Logo blink */

.flipping {
    display: block;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    bottom: -3%;
    width: 100%;
    overflow: show;
}

.flip-image {
    height: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: 999;
    animation: flip-image normal 5s infinite ease-in-out;
    -moz-animation: flip-image normal 5s infinite ease-in-out;
    overflow: hidden;
}

.blink-image {
    left: 100%;
    z-index: 999;
    animation: blink normal 5s infinite ease-in-out;
}

/* Welcome message blink */

.blink-welcome:not(.image) {
    position: relative;
    opacity: 0;
    z-index: 0;
    animation: flash normal 5s 1 1.2s ease-in-out;
    overflow: hidden;
}